<!doctype html>
<html>
  <head>
    <title>Tela de Chat</title>
  </head>
  <body>
    <input data-testid="nickname-box" id="nicknameBox" name="Nick name box" type="text">
    <input data-testid="nickname-button" type="button" value="SaveNickname">
    
    <ul>
      Tela de mensagens
      <% if (dataToRender) dataToRender.messages.forEach((message) => { %>
        <li data-testid="message"><%= message %></li>
      <% })%>
    </ul>

    <ul id='onlineUsers'>
      Tela de usuários
      <% if (dataToRender) dataToRender.users.forEach((user) => { %>
        <li data-testid="online-user"><%= user %></li>
      <% })%>
    </ul>

    <input data-testid="message-box" id="messageBox" name="Message box" type="text">
    <input data-testid="send-button" type="button" value="sendMessage">
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const users = ['teste'];
    const onlineUsers = document.querySelector('#onlineUsers')
    const socket = io();
    socket.on('connected', ({ onlineUser, timeStamp }) => {
      const li = document.createElement('li');
      li.innerHTML = `${timeStamp} ${onlineUser} `;
      li.setAttribute('data-testid', 'online-user');
      onlineUsers.appendChild(li);
    })
  </script>
</html>
