<!doctype html>
<html>
  <head>
    <title>Tela de Chat</title>
  </head>
  <body>
    <p data-testid="online-user" id="onlineUser">NONE</p>
    <input data-testid="nickname-box" id="nickInput" type="text">
    <input data-testid="nickname-button" id="nickBtn" type="button" value="Salvar">
    <br>
    Tela de mensagens
    <ul id='messagesBox'>
    </ul>
    
    Tela de usuários
    <ul id='onlinesBox'>
    </ul>

    <input data-testid="message-box" id="msgInput" type="text">
    <input data-testid="send-button" id="msgBtn" type="button" value="Enviar">
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="chatScript.js"></script>
</html>
