<!doctype html>
<html>
  <head>
    <title>Tela de Chat</title>
  </head>
  <body>
    <p data-testid="online-user" id="onlineUser">NONE</p>
    <input data-testid="nickname-box" id="nickInput" type="text">
    <button data-testid="nickname-button" id="nickBtn" type="button">Salvar</button>
    <br>
    Tela de usuários
    <ul id='nickBox'>
    </ul>
    <br>
    Tela de mensagens
    <ul id='msgBox'>
      <% messages.map((messageInfo) => { 
        const { timestamp, nickname, message } = messageInfo
        const newMessage = `${timestamp} - ${nickname}: ${message}`;
      %>
        <li data-testid="message"><%= newMessage %></li>
      <% }) %>
    </ul>
    <input data-testid="message-box" id="msgInput" type="text">
    <button data-testid="send-button" id="msgBtn" type="button">Enviar</button>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="nickname.js"></script>
  <script src="chatScript.js"></script>
</html>
