<!doctype html>
<html>
  <head>
    <title>Tela de Chat</title>
  </head>
  <body>
    <input data-testid="nickname-box" id="nicknameBox" name="nick name box" type="text">
    <input data-testid="nickname-button" type="button" value="SaveNickname">
    
    <ul>
      Tela de mensagens
    </ul>

    <ul>
      Tela de usuários
    </ul>

    <input data-testid="message-box" id="messageBox" name="Message Box" type="text">
    <input data-testid="send-button" type="button" value="sendMessage">
  </body>
</html>
